@model FormModel
@{
    ViewData["Title"] = "TP HN Validation Page";
    ViewData["MenuTopLink"] = "/Home/Index";
    ViewData["MenuBottomLink"] = "/Home/Index/OpinionList";
    ViewData["MenuTopText"] = "Main Menu";
    ViewData["MenuBottomText"] = "Opinion List";
}

<p>Your form has been taken into account</p>

<table>
    <caption>Personal Information</caption>
    <tr>
        <td>@Html.DisplayNameFor(model => model.LastName)</td>
        <td>@Html.DisplayFor(model => model.LastName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.FirstName)</td>
        <td>@Html.DisplayFor(model => model.FirstName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Gender)</td>
        <td>@Html.DisplayFor(model => model.Gender)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Address)</td>
        <td>@Html.DisplayFor(model => model.Address)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.ZipCode)</td>
        <td>@Html.DisplayFor(model => model.ZipCode)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Town)</td>
        <td>@Html.DisplayFor(model => model.Town)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.EmailAddress)</td>
        <td>@Html.DisplayFor(model => model.EmailAddress)</td>
    </tr>
</table>
<table>
    <caption>Training information</caption>
    <tr>
        <td>@Html.DisplayNameFor(model => model.TrainingStartDate)</td>
        <td>@Html.DisplayFor(model => model.TrainingStartDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.TrainingType)</td>
        <td>@Html.DisplayFor(model => model.TrainingType)</td>
    </tr>
</table>
<table>
    <caption>
        Training Reviews
    </caption>
    <tr>
        <td>@Html.DisplayNameFor(model => model.CobolTrainingOpinion)</td>
        <td>@Html.DisplayFor(model => model.CobolTrainingOpinion)</td>
    </tr>
    <tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.ObjectTrainingOpinion)</td>
        <td>@Html.DisplayFor(model => model.ObjectTrainingOpinion)</td>
    </tr>
    </tr>
</table>
